@import url(https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap);

/* Código reciclado do primeiro trabalho */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: orangered;
    position: fixed;
    width: 100%;
}
.logo {
    display: inline-block;
}
.navbar {
    display: inline-block;
}
.navbarItem {
    display: inline-block;
    margin: 0 25px;
    font-family: Poppins;
}
.itemTexto {
    color: black;
    font-weight: bold;
    font-size: 22px;
}
footer {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    font-family: Poppins;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    
}

/* Nova parte */
.formulário {
    text-align: center;
    font-family: Poppins;
    width: 400px;
    height: 67%;
    background-color: whitesmoke;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.headerFormulário {
    background-color: orangered;
    text-align: center;
}
.textfield {
    font-weight: bolder;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn {
    padding: 22px;
    text-align: center;
}
.btnCad {
    font-family: Poppins;
    font-weight: bold;
    border: 10px solid orangered;
    background-color: orangered;
    border-radius: 8px;
    outline: none;
    font-size: xx-large;
}
.invisible {
    display: none;
  }
.error {
    color: red;
    font-size: 16px;
    text-align: center;
  }
