@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap);
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: orangered;
    position: fixed;
    width: 100%;
}
.logo {
    display: inline-block;
}
.navbar {
    display: inline-block;
}
.navbarItem {
    display: inline-block;
    margin: 0 25px;
    font-family: Poppins;
}
.itemTexto {
    color: black;
    font-weight: bold;
    font-size: 22px;
}
.bannerContainer {
    height: 450px;
}
.bannerContainer img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}
main {
    background-color: white;
}
span {
    font-family: Audiowide;
}
.imagens {
    padding: 0px;
    text-align: center;
    font-family: Red Hat Mono;
}
.sobre {
    padding: 16px;
    font-family: Poppins;
    font-weight: bolder;
}
.banner2 {
    text-align: center;
}
.baixar {
    padding: 50px;
    font-size: smaller;
    font-family: Poppins;
    float: right;
    text-align: right;
}
footer {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    font-family: Poppins;
    position: flex;
     left: 0;
    bottom: 0;
    width: 100%;
}